body {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #a9f9d9;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 55px;
    background-color: whitesmoke;
    font-size: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 35px;
}
  
.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: 800px;
}
  
.nav-links .btn-join {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
}
  
.btn-join:hover {
    background-color: #065a06;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}
  
.hero-content {
    max-width: 50%;
}
  
.hero-content h2 {
    font-size: 3.5rem;
    color: #32c769;
    font-weight: 600px;
    margin: 0px;
}
  
.hero-content p {
    font-size: 1rem;
    margin-bottom: 20px;
}
  
.hero-buttons {
    display: flex;
    gap: 20px;
}
  
.btn {
    padding: 10px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
}
  
.btn-info {
    background-color: white;
    color: #32c769;
    border: 2px solid #32c769;
}
  
.btn-info:hover {
    background-color: #32c769;
    color: white;
}
  
.btn-primary {
    background-color: #32c769;
    color: white;
}
  
.btn-primary:hover {
    background-color: white;
    color: #32c769;
    border: 2px solid #32c769;
}
  
.hero-image img {
    width: 500px;
}

.semicircle {
    position: absolute;
    top: 0;
    right: 0;
    width: 55vw;
    height: 57vw;
    background-color: whitesmoke;
    border-radius: 100% 0 0 100%;
    z-index: -1;
}

.container-form {
    max-width: 500px;
    margin: auto;
    background: whitesmoke;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #32c769;
    font-size: 40px;
}

.form-group {
    margin-bottom: 35px;
}

.form-group label {
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid grey;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #32c769;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #28a745;
}

.circle {
    position: absolute;
    top: 480px;
    left: 50%;
    width: 55vw;
    height: 55vw;
    background-color: whitesmoke;
    border-radius: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.container-info {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 30vw;
    height: 40vw;
    top: 58%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.info-image {
    display: flex;
    justify-content: center;
}

.info-image img {
    max-width: 100%; 
    width: 15vw; 
    height: 15vw; 
    margin-top: 35px;
    margin-bottom: 20px;
}

.info-content h2 {
    font-size: 60px;
    font-weight: bold;
    margin: auto;
    margin-bottom: 20px;
}

.info-content p {
    font-size: 20px;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
}
