body {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #d8c7a2;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 55px;
    background-color: #797171;
    font-size: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 125px;
    height: 125px;
    margin-right: 15px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 35px;
}
  
.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: 800px;
}
  
.nav-links .btn-join {
    background-color: #b1c27e;
    color: whitesmoke;
    padding: 10px 20px;
    border-radius: 15px;
}
  
.btn-join:hover {
    background-color: #1f3701;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}
  
.hero-content {
    max-width: 50%;
}
  
.hero-content h2 {
    font-size: 3.5rem;
    color:#333333;
    font-weight: 600px;
    margin: 0px;
}
  
.hero-content p {
    font-size: 1rem;
    margin-bottom: 20px;
}
  
.hero-buttons {
    display: flex;
    flex-direction: column; 
    gap: 20px; 

}
  
.btn {
    padding: 10px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
}
  
.btn-info {
    background-color: #88b380;
    color: #12140e;
    font-weight: normal;
    border: 1px solid #003735;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.3);
}
  
.btn-info:hover {
    background-color: #5D8679;
    color: #e2e3d8;
}
  
.btn-primary {
    background-color: #8a9a5b;
    font-weight: normal;
    color: #e2e3d8;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.3);
}

.btn-primary:hover {
    background-color: #bfcbad;
    color: #404a33;
    border: 1px solid #1f4e4b;
}
  
.hero-image img {
    width: 115%;
}

.semicircle {
    position: absolute;
    top: 0;
    right: 0;
    width: 70vw;
    height: 95vw;
    background-color: #797171;
    border-radius: 100% 0 0 100%;
    z-index: -1;
}

.semicircle-f {
    position: absolute;
    top: 0;
    right: 0;
    width: 59vw;
    height: 56vw;
    background-color: #797171;
    border-radius: 100% 0 0 100%;
    z-index: -1;
}

.container-form {
    max-width: 500px;
    margin: auto;
    background: #797171;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333333;
    font-size: 40px;
}

.form-group {
    margin-bottom: 35px;
}

.form-group label {
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #bfcbad;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #b1c27e;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #354e16;
}

.circle {
    position: absolute;
    top: 500px;
    left: 50%;
    width: 55vw;
    height: 55vw;
    background-color: #797171;
    border-radius: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.container-info {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 30vw;
    height: 40vw;
    top: 58%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.info-image {
    display: flex;
    justify-content: center;
}

.info-image img {
    max-width: 100%; 
    width: 15vw; 
    height: 15vw; 
    margin-top: 35px;
    margin-bottom: 20px;
}

.info-content h2 {
    color: whitesmoke;
    font-size: 60px;
    font-weight: bold;
    margin: auto;
    margin-bottom: 20px;
}

.info-content p {
    color: whitesmoke;
    font-size: 20px;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
}
