<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>Información</title>
</head>
<body>
    <header class="header">
      <div class="logo">
        <img src="/public/logo.png" alt="Desafía y Salva Logo">
        <h1>Desafía y Salva</h1>
      </div>
      <nav>
        <ul class="nav-links">
          <li><a href="index">Inicio</a></li>
          <li><a href="features">Características</a></li>
          <li><a href="info">Contáctanos</a></li>
          <li><a href="join" class="btn-join">Únete</a></li>
        </ul>
      </nav>
    </header>

    <div class="container-info">
        <div class="info-image">
            <img src="/public/info.png" alt="imagen de contacto">
        </div>
        <div class="info-content">
            <h2>¿Tienes dudas?</h2>
            <p>Si tienes dudas acerca del proyecto, por favor, no dudes en escribirnos a nuestro número de contacto o a nuestro correo electrónico.</p>
            <ul>
              <li>
                <p>desafiaysalva@gmail.com</p>
              </li>
              <li>
                <p>0978632913</p>
              </li>
              <li>
                <p>0997220160</p>
              </li>
              <li>
                <p>0998057250</p>
              </li>
            </ul>
        </div>
    </div>
    <div class="circle"></div>
    <footer class="footer">
      <div class="footer-content">
          <p>&copy; 2024 Desafía y Salva. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
