<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/style.css">
  <title>Desafia y Salva</title>
</head>

<body>
  <header class="header">
    <div class="logo">
      <img src="/public/logo.png" alt="Desafía y Salva Logo">
      <h1>Desafía y Salva</h1>
    </div>
    <nav>
      <ul class="nav-links">
        <li><a href="index">Inicio</a></li>
        <li><a href="features">Características</a></li>
        <li><a href="info">Contáctanos</a></li>
        <li><a href="join" class="btn-join">Únete</a></li>
      </ul>
    </nav>
  </header>
      <h2>ESPECIFICACIONES E INSCRIPCIÓN AL RETO QUE SEA MÁS DE TU AGRADO</h2>
      <p>Esta página va dirigida a retos ambientales en los cuales vas a poder unirte a diferentes tipos de retos en los
        cuales puedes ganar diferentes premios gracias a tu ayuda a la comunidad.</p>
      <div class="cards-container">
        <div class="card-b">
          <div class="card-body">
            <h5 class="card-title">1. Transporte Público del Futuro: ¡Hazlo Posible!</h5>
            <div class="card-content">
                <p>Este reto propone integrar tecnologías innovadoras, reducir las emisiones y mejorar la experiencia de los usuarios, creando ciudades más limpias y con menos congestión vehicular.</p>
            </div>
            <a href="rewards" class="btn btn-ins">Inscríbete</a>
          </div>
        </div>
        <div class="card-a">
          <div class="card-body">
            <h5 class="card-title">2. Muévete Sin Motor: La Revolución de la Movilidad Sostenible</h5>
            <div class="card-content">
              <p>El desafío fomenta el desarrollo de soluciones como caminar, andar en bicicleta y usar el transporte público para disminuir las emisiones de carbono y mejorar la movilidad urbana.</p>
            </div>
            <a href="rewards" class="btn btn-ins">Inscríbete</a>
          </div>
        </div>
        <div class="card-b">
          <div class="card-body">
            <h5 class="card-title">3. Edificios Inteligentes: Energía Eficiente para un Futuro Sostenible"</h5>
            <div class="card-content">
                <p>El reto se enfoca en implementar soluciones verdes como sistemas de energía renovable, aislamiento térmico, iluminación eficiente y gestión inteligente del consumo energético, con el fin de crear espacios más sostenibles y responsables con el medio ambiente.</p>
            </div>
            <a href="rewards" class="btn btn-ins">Inscríbete</a>
          </div>
        </div>
        <div class="card-a">
          <div class="card-body">
            <h5 class="card-title">4. Ciudades Verdes: La Revolución de la Reforestación Urbana</h5>
            <div class="card-content">
                <p>Mediante proyectos de reforestación y el diseño de infraestructuras verdes, este reto busca fomentar un entorno más saludable, estéticamente agradable y sostenible para las generaciones futuras.</p>
            </div>
            <a href="rewards" class="btn btn-ins">Inscríbete</a>
          </div>
        </div>
        <div class="card-b">
          <div class="card-body">
            <h5 class="card-title">5. Renovables al Rescate: Energía Sostenible para Todos</h5>
            <div class="card-content">
                <p>Este reto impulsa la innovación y el desarrollo de infraestructuras sostenibles, llevando a las comunidades hacia un futuro energético más responsable y respetuoso con el medio ambiente.</p>
            </div>
            <a href="rewards" class="btn btn-ins">Inscríbete</a>
          </div>
        </div>
        <div class="card-a">
          <div class="card-body">
            <h5 class="card-title">6. Rumbo a un Mundo sin Desperdicio: Reciclaje y Reducción de Residuos</h5>
            <div class="card-content">
                <p> Este reto busca transformar la forma en que consumimos y desechamos, impulsando un futuro más limpio y sostenible.</p>
            </div>
            <a href="rewards" class="btn btn-ins">Inscríbete</a>
          </div>
        </div>
        <div class="card-b">
          <div class="card-body">
            <h5 class="card-title">7. Comer Verde: El Futuro de una Alimentación Sostenible</h5>
            <div class="card-content">
                <p>Al mismo tiempo, se enfoca en educar a la sociedad sobre la importancia de una alimentación equilibrada que beneficie tanto a la salud humana como al planeta, contribuyendo a un futuro más verde y saludable.</p>
            </div>
            <a href="rewards" class="btn btn-ins">Inscríbete</a>
          </div>
        </div>
        <div class="card-a">
          <div class="card-body">
            <h5 class="card-title">8. Viajar con Conciencia: La Revolución del Turismo Sostenible</h5>
            <div class="card-content">
                <p>A través de la educación y la sensibilización, el desafío invita a los viajeros y a las empresas turísticas a optar por destinos y actividades que prioricen la sostenibilidad, garantizando que el disfrute del presente no comprometa el bienestar de las futuras generaciones.</p>
            </div>
            <a href="rewards" class="btn btn-ins">Inscríbete</a>
          </div>
        </div>
        <div class="card-b">
          <div class="card-body">
            <h5 class="card-title">9. Educar para el Futuro: Capacitación en Sostenibilidad</h5>
            <div class="card-content">
                <p>Mediante la creación de recursos educativos, talleres y cursos, se pretende promover una cultura de sostenibilidad en todos los ámbitos de la sociedad, desde las comunidades locales hasta los sectores profesionales, asegurando un futuro más verde y consciente para las generaciones venideras.</p>
            </div>
            <a href="rewards" class="btn btn-ins">Inscríbete</a>
          </div>
        </div>
        <div class="card-a">
          <div class="card-body">
            <h5 class="card-title">10. Hacia un Futuro Verde: Impulsa tu Proyecto Innovador</h5>
            <div class="card-content">
                <p>Desde la conservación de recursos hasta la reducción de huella de carbono, este reto busca transformar ideas disruptivas en realidades que puedan tener un impacto positivo en el medio ambiente, contribuyendo así a un futuro más verde y sostenible para todos.</p>
            </div>
            <a href="rewards" class="btn btn-ins">Inscríbete</a>
          </div>
        </div>
      </div>
    <div class="semicircle"></div>
    <footer class="footer">
      <div class="footer-content">
          <p>&copy; 2024 Desafía y Salva. All rights reserved.</p>
      </div>
    </footer>
</body>

</html>